{% extends 'base.html.twig' %}

{% block title %}
    Update wish
{% endblock %}

{% block main %}
    <h1>Modify your wish !</h1>
    {{ form_start(wishForm) }}
    {{ form_row(wishForm) }}
    {% if wishForm.image is not null %}
        <img src="{{ asset('uploads/images/wish/' ~ wish.imageFilename) }}" alt="image of {{ wish.title }}">
    {% endif %}
    <br>
    <button type="submit">Update</button>
    {{ form_end(wishForm) }}
{% endblock %}

